/**RESET STYLES P -  **/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, input, textarea, select, footer, header { 
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: 0; 
	font-size: 100%; 
	vertical-align: baseline; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;  
}

li, a { 
	list-style: none; 
	text-decoration: none;
	color: inherit;
}

.clearfix:after {
	display: block;
	content: "";
	height: 1px;
	visibility: hidden;
	clear: both;
}

.clear {
  	clear: both;
}

input, a {
  	outline: none;
}

/* Responsive Resets --------------------------- */

@-o-viewport {
  	width: device-width;
}
@-ms-viewport {
  	width: device-width;
}
@viewport {
  	width: device-width;
}

html {
  	overflow-y: auto;
}

img,
audio,
video,
canvas {
  	max-width: 100%;
  	display: block;
}

.column {
  position: relative;
  float: left;
  display: block;
}

.column + .column {
    margin-left: 1.6%;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.col_1 {
    width: 6.86666666667%;
}

.col_2 {
    width: 15.3333333333%;
}

.col_3 {
    width: 23.8%;
}

.col_4 {
    width: 32.2666666667%;
}

.col_5 {
    width: 40.7333333333%;
}

.col_6 {
    width: 49.2%;
}

.col_7 {
    width: 57.6666666667%;
}

.col_8 {
    width: 66.1333333333%;
}

.col_9 {
    width: 74.6%;
}

.col_10 {
    width: 83.0666666667%;
}

.col_11 {
    width: 91.5333333333%;
}

.col_12 {
    width: 100%;
    margin-left: 0;
}

img {
	display: block;
	width: 100%;
}

@media only screen and (max-width: 580px) {
    .col_1, 
    .col_2, 
    .col_3, 
    .col_4, 
    .col_5, 
    .col_6, 
    .col_7, 
    .col_8, 
    .col_9, 
    .col_10, 
    .col_11, 
    .col_12 {
        float: none;
        width: auto;
    }
  
    .column + .column {
        margin-left: 0;
    }
}

.clear {
    clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}


/* Layout
-------------------------------------------------------------- */
body {
	font: 400 20px 'Open Sans', Helvetica, Verdana, Arial, sans-serif;
	color: #303030;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.5;
}


.container {
	width: 95%;
	margin: 0 auto;
	padding: 50px 0 20px;
}

h1, h3 {
	font-family: "Montserrat", "Open Sans", Arial, sans-serif;
	font-size: 60px;
	text-transform: uppercase;
}

.work {
	margin-top: 70px;
	border-top: 1px solid #e8e8e8;
}

.work a.column {
	height: 300px;
	background: #fafafa;
	color: #fafafa;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
	display: block;
}

.work a.column:after {
	content: '';
	height: 40px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	background: url(../img/sprite.png) no-repeat; 
}

.work a.column:before {
	content: '';
	display: block;
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border: 1px solid;
	-webkit-transition: border 0.5s ease 0.5s;
	-moz-transition: border 0.5s ease 0.5s;
	-o-transition: border 0.5s ease 0.5s;
	transition: border 0.5s ease 0.5s;
}

.work a.column.casting:hover:before {
	color: #EF073F;
}

.work a.column.rpoints:hover:before {
	color: #22A022;
}

.work a.column.hymnit:hover:before {
	color: #540060;
}

.work a.column.casting:after {
	background-position: -2px -7px;
	width: 164px;
	margin-left: -82px;
}

.work a.column.casting:hover:after {
	background-position: -2px -61px;
}

.work a.column.rpoints:after {
	background-position: -201px -6px;
    width: 166px;
    margin-left: -83px;
}

.work a.column.rpoints:hover:after {
	background-position: -201px -60px;
}

.work a.column.hymnit:after {
	background-position: -400px -6px;
	width: 82px;
    height: 82px;
    margin-left: -41px;
    margin-top: -41px;
}

.work a.column.hymnit:hover:after {
	background-position: -400px -96px;
}

.right_align {
	text-align: right;
}

.logo {
	height: 37px;
	bordr: 1px solid #ccc;
	display: block;
}

.logo img {
	width: auto;
	max-width: none;
	height: 100%;
}

.hidden {
	display: none;
}

.only_nav a {
	font-weight: 600;
	margin-left: 20px;
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 5px;
	display: inline-block;
}

.hero {
	margin: 30px 0;
	background: url(../img/office.jpg) no-repeat;
	background-size: 100%;
}

.hero_content {
	padding: 70px;
	padding-top: 160px;
	height: 600px;
	background: rgba(248,248,248,0.95);
}

.feature_full {
	margin: 30px 0 0;
}

.detail_ {
	text-align: center;
	padding-top: 170px;
	padding-bottom: 80px;
	font-weight: 300;
	bordr: 1px solid #000;
	background: url(../img/gradient.png) repeat-x top left;
	margin-top: -130px;
	z-index: 2;
	position: relative;
}

.detail_ a {
	display: block;
	margin-bottom: 30px;
	font-size: 90%;
}

.detail_.push a {
	color: #ef073f;
}
.detail_.point a {
	color: #22a022;
}
.detail_.calld a {
	color: #1e4b7d;
}

h3 {
	font-size: 40px;
}

.hero h3 {
	font-size: 40px;
	font-weight: bold;
	display: none;
}

.hero p {
	font-weight: 300;
	margin-top: 10px;
	font-size: 120%;
	line-height: 1.8;
}

.hero p.small_ {
	text-transform: uppercase;
	font-size: 90%;
	font-weight: 600;
	margin-top: 30px;
}

.our_service {
	height: 130px;
	background: #f4f4f4;
	margin-bottom: 30px;
	display: block;
	position: relative;
	overflow: hidden;
} 

.feat {
	brder: 1px solid #ccc;
	height: 450px;
	position: relative;
	overflow: hidden;
}

.feat a {
	bordr: 1px solid;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
}

.feat.push a {
	background: rgba(31,77,127, 0.6);
}

.feat.rpoint a {
	background: rgba(34,160,64, 0.5);
}

.feat.call a {
	background: rgba(239,7,63, 0.4);
}


.half_feat .feat {
	height: 215px;
}

.rpoint img {
	margin-top: -29%;
}

.mb {
	margin-bottom: 20px;
}

.work_logos {
	text-align: center;
	margin: 100px auto 60px;
	opacity: 0.9;
}

.footer {
	padding: 40px;
	background: #2a3848;
	color: rgba(255,255,255,0.9);
	text-align: center;
}

.footer h1 {
	font-size: 45px;
}

.top_footer {
	height: 400px;
	margin-bottom: 30px;
	padding-top: 130px;
}

.top_footer a {
	border: 1px solid;
	padding: 10px 30px;
	font-size: 80%;
	margin-top: 20px;
	display: inline-block;
}

.copy {
	font-size: 12px;
	text-align: left;
}

.margin_center {
	margin-left: auto;
	margin-right: auto;
}


@media only screen and (max-width: 768px) {

	.container {
		width: 95%;
	}

    .col_10, 
    .col_11, 
    .col_12 {
        float: none;
        width: auto;
    }

    h1 {
		font-size: 60px;
	}

	.work div.column {
		height: 200px;
	}

}

@media only screen and (max-width: 580px) {

    h1 {
		font-size: 45px;
	}

	.work div.column {
		height: 300px;
	}

}




@media
  (min--moz-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (-webkit-min-device-pixel-ratio: 2),
  (min-device-pixel-ratio: 2) {

  	
	.work a.column:after  {
  		background-image: url(../img/sprite@2x.png); 
  		background-size: 500px 200px;
  	}

}
